/* CSS Reset */

/* Apply box-sizing border-box model to all elements */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Remove list styles from ul, ol elements */
ul, ol {
    list-style: none;
}

/* Remove default margins and paddings from body and html */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal; /* Ensure it's not set to 'bold' */
}

/* Remove underline from links */
a {
    text-decoration: none;
}

/* Remove outline from all elements (use responsibly and customize as needed) */
*:focus {
    outline: none;
}

.logo {
    
}