/* CSS Reset */

/* Apply box-sizing border-box model to all elements */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles from ul, ol elements */
ul, ol {
  list-style: none;
}

/* Remove default margins and paddings from body and html */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal; 
  width: 100%;
  height: 100%;
}

/* Remove underline from links */
a {
  text-decoration: none;
}

/* Remove outline from all elements */
*:focus {
  outline: none;
}

.mobweltxt {
  display: none;
}

p {
  font-size: 14px;
}

/* Basic styles for the navbar */
.navbarlist {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.menu-item {
  position: relative;
}

.menu-link {
  display: block;
  text-decoration: none;
  background-color: #ffffff;
  color: white;
}

.menu-link:hover {
  background-color: #ffffff;
}

/* Dropdown menu styles */

.activepage:hover {
  color: inherit !important;
  background-color: inherit !important;
  text-decoration: none !important;
  border: none !important;
}

.navbar ul.navbarlist .menu-item .dropdown {
  display: none; /* Hidden by default */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  outline: 0.5px solid grey;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100px;
}

.navbar ul.navbarlist .menu-item .dropdown li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar ul.navbarlist .menu-item .dropdown li a:hover {
  background-color: #ffffff;
  color: #ff0000;
}


/* Wrapper to handle the margin */
.navbar-wrapper {
  position: relative;
  height: 31px; /* Height of the navbar plus 1px margin */
  background-color: #ffffff; /* Ensure the wrapper has the same background color */
}

/* Actual navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  margin-top: 0.5px;
  padding-top: 1px; /* Padding at the top for visual break */
  outline: 0.5px solid rgb(173, 173, 173); /* Outline to show the separation */
  background-color: #ffffff; /* Navbar background color */
  color: rgb(0, 0, 0); /* Navbar text color */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures logo and links are spaced evenly */
  padding: 10px 20px;
  z-index: 1000; /* Ensures the navbar stays above other content */
}

.navleft {
  display: inline-block;
  text-align: left;
}

.navright {
  display: inline-block;
  text-align: right;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin-right: 20px; /* Space between list items */
}

.navbar ul li:last-child {
  margin-right: 0; /* Remove margin from last list item */
}

.navbar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;

  font-size: 14px; /* Adjust font size as needed */
}

.navbar ul li a:hover {
  color: red;
}

.navbarlogo {
  height: 20px;
  margin-top: 4px;
}

.header {
  display: flex;
  width: 100%;
  height: 50vw; /* Adjust as needed */
}

.headerleft, .headerright {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerleft {
  background-color: #f0f0f0; /* Optional: for visual distinction */
}

.headerright {
  background-color: #e0e0e0; /* Optional: for visual distinction */
  align-items: flex-end; /* Align items to the bottom */
  padding-bottom: 0px; /* Optional: adjust bottom spacing */
}

.headerlogo, .hero {
  max-width: 100%;
  max-height: 100%;
}

.headbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #ff0000; /* Navbar background color */
  color: rgb(0, 0, 0); /* Navbar text color */
  outline: 0.5px solid rgb(59, 59, 59);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures logo and links are spaced evenly */
  padding: 10px 20px;
  z-index: 0; /* Ensures the navbar stays above other content */
}

/* Welcome Section - Full Screen */

.welcome {
  max-width: 800px;
  width: 80%; /* Ensure it takes up the full width */
  margin: 0 auto; /* Center the container horizontally */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; /* Center items horizontally */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; /* Center items vertically */
  gap: 20px; /* Adjust gap between cards */
}

.welcome .welcard1,
.welcome .welcard2,
.welcome .welcard3 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 25vh;
  max-height: 400px;
  margin-top: 20px;
  outline: 0.5px solid rgb(173, 173, 173);
  padding: 20px;
  padding-bottom: 0px;
  font-size: 1vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; /* Center content vertically */
}

.welcard1 {
  color: #ff0000;
  background-color: rgb(169, 169, 169);
}

.welcard2 {
  color: #000000;
  background-color: #ff0000;
}

.welcard3 {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}

.txtwelcome {
  max-width: 1200px;
  width: 80%; /* Ensure it takes up the full width */
  margin: 0 auto; /* Center the container horizontally */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; /* Center items horizontally */
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top; /* Center items vertically */
  text-align: justify;
  gap: 18px; /* Adjust gap between cards */
  padding-bottom: 20px;
}

.txtwelcome .txtwelcard1,
.txtwelcome .txtwelcard2,
.txtwelcome .txtwelcard3,
.txtwelcome .txtwelcard4,
.txtwelcome .txtwelcard5,
.txtwelcome .txtwelcard6,
.txtwelcome .txtwelcard7,
.txtwelcome .txtwelcard8,
.txtwelcome .txtwelcard9 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: auto;
  text-align: justify; /* Set text alignment to left */
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: top;
  -ms-flex-pack: top;
  justify-content: top; /* Center content vertically */
}

.txtwelcard1 {
  color: #000000;
  background-color: rgb(255, 255, 255);
}

.txtwelcard2 {
  color: #000000;
  background-color: #ffffff;
}

.txtwelcard3 {
  color: #000000;
  background-color: rgb(255, 255, 255);
}


.footer {
  position: relative; /* Positioned after the content */
  width: 100%;
  height: 20px; /* Adjust height as needed */
  background-color: #000000; /* Navbar background color */
  color: rgb(255, 255, 255); /* Navbar text color */
  outline: 0.5px solid rgb(59, 59, 59);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures left and right content are spaced evenly */
  padding: 10px 20px;
  z-index: 1; /* Ensures the footer stays above other content */
  font-weight: normal;
  font-size: 10px;
  margin-top: 100px;
}

.footer p {
  margin: 0; /* Remove default margin for paragraphs */
}

.footer-left {
  flex: 1;
  text-align: left; /* Align text to the left */
}

.footer-right {
  flex: 1;
  text-align: right; /* Align text to the right */
}

/* Ipads -*/

@media (max-width: 1024px) and (orientation: portrait) {
  body, html {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
  }
  .header {
      display: flex;
      width: 100%;
      height: 50vw; /* Adjust as needed */
  }
  .headerleft, .headerright {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .headerleft {
      background-color: #f0f0f0; /* Optional: for visual distinction */
  }
  .headerright {
      background-color: #e0e0e0; /* Optional: for visual distinction */
      align-items: flex-end; /* Align items to the bottom */
      padding-bottom: 0px; /* Optional: adjust bottom spacing */
  }
  .headerlogo, .hero {
      max-width: 100%;
      max-height: 100%;
  }

  .header {
    width: 100%;
  }

  .welcome {
    width: 96%;
  }

  .welcome .welcard1,
  .welcome .welcard2,
  .welcome .welcard3 {
    height: 30vw;
    font-size: 0.6rem;
  }

  .txtwelcome {
    width: 96%;
    padding-bottom: 0px;
  }

  .footer {
    position: relative; /* Ensure relative positioning */
    width: 100%;
    margin-top: 20px; /* Add margin to separate from content */
    bottom: 0; /* Ensure it stays at the bottom of the viewport */
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .welcome {
    width: 96%;
  }  

  .txtwelcome {
    width: 96%;
  } 
  
  .header {
      height: 92vh; /* Adjust as needed */
    }

    .headerleft {
      width: 40%;
    }

    .headerright {
      width: 60%;
    }

    .welcome .welcard1,
    .welcome .welcard2,
    .welcome .welcard3 {
      height: 30vw;
      font-size: 0.8rem;
    }
}

/* Mobile */

@media (max-width: 600px) and (orientation: portrait){

  .header {
    flex-direction: column;
    height: 96vh;
  }

  .headerleft, .headerright {
    width: 100%;
  }

  .headerleft {
    height: 40vh;
  }

  .headerright {
    height: 60vh;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 0;
  }

  .headerlogo {
    width: 100vw;
  }

  /* Welcome Section */

  .mobweltxt {
    display: initial;
    width: 97%;
  }

  .welcome {
    display: flex; /* Ensure the container uses flexbox */
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    height: auto; /* Adjusted height */
    text-align: justify;
    padding-bottom: 20px;
  }

  .welcome .welcard1,
  .welcome .welcard2,
  .welcome .welcard3 {
    padding-top: 150px;
    padding-bottom: 150px;
    width: 75vw;
    margin: 0px auto; /* Adjusted margin */
    margin-top: 20px;
    outline: 0.5px solid rgb(173, 173, 173);
    font-size: 4vw;
    text-align: center; /* Center text horizontally */
    flex-direction: column; /* Ensure vertical centering */
    justify-content: center; /* Ensure vertical centering */
  }

  .txtwelcome {
    display: none;
    text-align: justify;
  }

  .footer {
    margin-top: 0px;
  }

  .footer-left {
    flex: 1;
    text-align: center; 
  }

  .footer-right {
    display: none;
  }
  

}

